# Variables d'entorn - NO COMMITTIS aquest fitxer!
# Afegeix .env al teu .gitignore

# Google Cloud Console > Credencials > ID de client OAuth 2.0 (iOS)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_IOS_CLIENT_ID_HERE
